<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grea5 log in</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>

<div class="login-wrapper">
    
    <div class="login-container">
        <div class="login-logo">
            <img src="images/page_images/gear 5 white bg.png" alt="">
        </div>
         <h2>Login</h2>
        <!-- <div class="login-input"> -->
            <form action="/login" method="POST">
                
                <div class="input-details emailX">
                    <input type="email" placeholder="Email" name="email">
                    <i class='bx bxs-envelope'></i>
                </div>

                <div class="input-details passX">
                    <input type="password" placeholder="Password" name="password">
                    <i class='bx bxs-lock' ></i>
                </div>

                <div class="remember-forgot-password">
                    <label><input class="remember-box" type="checkbox"> Remember me</label>
                    <a href="XXXX">Forgot password?</a>
                </div>

                <div class="login-submit">
                    <button type="submit">Login</button>
                </div>
    
            </form>
        <!-- </div> -->
        

        <div class="register">
            Don't have an account?
            <a href="/register">Register now</a>
        </div>
    </div>
</div>
    
</body>
</html>