*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(227, 224, 224);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    min-height: 100vh;
    /* background:linear-gradient(45deg, rgba(192, 30, 241, 0.996), rgba(203, 94, 237, 0.996),rgb(85, 213, 235),rgb(38, 208, 238)) */
}
/* 
.login-wrapper{
    
   
} */

.login-logo{
    display: flex;
    justify-content: center;
}
.login-logo img{
    width: 160px;
    margin-bottom: 20px;
}

.login-container{
    padding: 20px;
    /* height: 420px; */
    width: 400px;
    border-radius: 15px;
    background-color: rgb(245, 245, 246);
    border: 2px solid rgb(160, 159, 159);
    color:rgb(0, 0, 0);
}

h2{
    margin-left: 10px;
    margin-bottom: 10px;
}

.input-details{

    position: relative;
    margin-bottom: 22px;
    height: 45px;

}

.input-details input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(160, 159, 159);
    outline: none;
    padding: 2px 2px;
    border-radius: 50px;
    font-size: 16px;
    padding: 5px 50px 5px 20px;
    
}

.namex {
    display: inline-block;
    position: relative;
    display: flex;
}

.namex .name {
    flex: 1;
}

.namex .fname {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0;
}
.namex .lname {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.namex i {
    position: absolute;
}

.input-details i{
    font-size: 25px;
    position: absolute;
    top: 12px;
    right: 20px;
}

.login-submit{
    margin-top: 30px;
}

.login-submit button{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(201, 69, 3);
    color: white;
}

.login{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;

}

.login a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.login a:hover{
    text-decoration: underline;
}